.content{
    width: 100%;
    height: 41em;
    background: linear-gradient(101.75deg, rgba(107, 0, 0, 0.048) 10.92%, rgba(29, 61, 71, 0.0307816) 33.77%, rgba(80, 147, 175, 0.1) 53.59%, rgba(80, 147, 175, 0) 82.47%);
}

.login{
    background-color:  #F8F8F8;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: auto;
    top: 10%;
    left: 35%;
    right: 30%;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.copyright{
    margin: 0 10em 0 10em;
}

.footer-login{
    position: absolute;
    width: 90%;
    height: 60%;
    left: 2%;
    top: 43em;
}

.footer-login a{
    text-decoration: none;
}

.my-course{
    position: absolute;
    width: 70%;
    height: 50%;
    left: 15%;
    top: 23em;
}