.information {
    width: 70%;
    height: 20%;
    margin: 30% 0% 0% 15%;
}

.poster {
    position: relative;
    width:100%;
    height:43%;
    z-index: 0;
    background-color:#FFFFFF;
    margin-top:55%;
    border:1px solid lightgrey;
    border-radius: 10px;
}

.formulir {
    position: relative;
    width:80%;
    height:100%;
    z-index: 0;
    background-color:#FFFFFF;
    margin-top:7%;
    border:1px solid lightgrey;
    border-radius: 10px;
}